<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.staggeredgridlayout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/apicon"
        android:label="staggeredview"
        android:roundIcon="@mipmap/apicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".grid"></activity>
        <activity android:name=".linear" />
        <activity android:name=".constraint" />
        <activity android:name=".relativecalcactivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>